*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 70px;
    align-items: center;
}
.logo{
    flex: 1;
}
.logo img{
    width: 80px;
    height: auto;
}
.menu{
    flex: 3;
    display: flex;
}
.menu li{
    padding: 0 12px;
    position: relative;
}
.others li:hover .sub-menu{
    visibility: visible;
    top: 50px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background-color: #fff;
}
.sub-menu li a{
    font-weight: normal;
    font-size: 12px !important;
}
.menu li a{
    font-size: 19px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
.others{
    flex: 1;
    display: flex;
}
.others img{
    width: 20px;
    height: auto;
}
.others li{
    padding: 0 12px;
}
.others li:first-child{
    position: relative;
}
.others li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}
.others li:first-child i{
    position: absolute;
    right: 10px;
}
#slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;

}
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app{
    margin: 50px;

}
.app img{
    height: 50px;
}
.app-container p{  
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
.footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
} 
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    right: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0 ;
    text-align: center;
}